* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0 20em;
  display: flex;
  justify-content: center;
  height: 100vh;
  flex-wrap: wrap;
  background-color: whitesmoke;
  align-content: center;
  gap: 0.1em;
}

.raw {
  display: flex;
  justify-content: space-between;
  height: 2em;
  gap: 0.1em;
}

div {
  width: 2em;
  height: 2em;
  display: flex;
  background-color: gray;
  border-radius: 5px;
  position: relative;
}

.mine {
  background-color: red;
}

.pass {
  background-color: green;
}

h1 {
  font-size: 2em;
  display: inline;
  z-index: 99;
  position: absolute;
  bottom: -1em;
  left: 0.2em;
}
